<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZPJHyqxlLa3YDyGjLmGIqmpT1P0RDt6M</string>
	<key>GCM_SENDER_ID</key>
	<string>830736980702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yori.flutterNotification</string>
	<key>PROJECT_ID</key>
	<string>flutter-notification-67f0e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notification-67f0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830736980702:ios:86a48686eebdd42f53c04f</string>
</dict>
</plist>